@font-face {
  font-family: 'nasalization-book';
  src: url('./fonts/nasalization-bk-webfont.woff2') format('woff2'),
    url('./fonts/nasalization-bk-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nasalization-light';
  src: url('./fonts/nasalization-lt-webfont.woff2') format('woff2'),
    url('./fonts/nasalization-lt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}